.panels-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 3rem;
    position: relative;
    box-sizing: border-box;
    background-color: #494a57;
}

.panels-container div {
    box-sizing: border-box;
}

body{
    margin: unset;
}

.private-route-loading-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.private-route-loading-main{
    width: 5em;
    height: 5em;
}

@media(max-width: 850px){
    .panels-container{
        flex-direction: column;
        align-items: center;
        height: unset;
    }

    .panels-container > .hierarchy-panel{
        height: 50vh;
        margin-bottom: 2vh;
        width: 90%;
        margin-right: unset;
    }

    .panels-container > .drawing-panel{
        height: 100vh;
        margin-top: 2vh;
        width: 90%;
    }

    .panels-container > .hierarchy-panel .hierarchy-buttons-container{
        height: 10%;
    }

    .panels-container > .hierarchy-panel .shapes-details-container{
        height: 80%;
    }
}

@media(max-height: 700px){
    .panels-container > .hierarchy-panel .hierarchy-buttons-container{
        height: 10%;
    }

    .panels-container > .hierarchy-panel .shapes-details-container{
        height: 80%;
    }
}
