.hierarchy-panel{
    border-radius: 10px;
    position: absolute;
    margin: 1rem;
    display: flex;
    max-height: calc(100% - 8rem);
    top: 3rem;
    z-index: 3;
    overflow: auto;
}

.hierarchy-buttons-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
    width: 5rem;
    border-radius: 10px;
    height: fit-content;
    background-color: #141417;
}

.hierarchy-buttons-container .button{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: #fff;
}

.button-clicked {
    box-shadow: 1px 1px 7px 2px #000 inset;
}

.button {
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.hierarchy-panel-divider {
    border: 1px solid;
    border: 1px solid #fff;
}

.delete-all-button{
    background-image: url(/src/assets/icons/broom.png);
}

.delete-button{
    background-image: url(/src/assets/icons/x-mark.png);
}

.select-button-select{
    background-image: url(/src/assets/icons/tap.png);
}

.select-button-move{
    background-image: url(/src/assets/icons/move.png);
}

.select-button-rescale{
    background-image: url(/src/assets/icons/pen.png);
}

.shape-lists{
    background-image: url(/src/assets/icons/menu.png);
}

.horizontal-line{
    background-image: url(/src/assets/icons/horizontalLineIcon.svg);
}

.vertical-line{
    background-image: url(/src/assets/icons/verticalLineIcon.png);
}

.normal-line{
    background-image: url(/src/assets/icons/normalLineIcon.png);
}

.rectongle{
    background-image: url(/src/assets/icons/rectongleIcon.svg);
}

@media(max-width: 850px){
    .hierarchy-panel {
        overflow-x: scroll;
        overflow-y: clip;
        top: calc(100% - 10rem);
        transition: left 300ms, max-width 300ms;
        left: 3rem;
        max-width: calc(100% - 8rem);
    }

    .hierarchy-panel-shapes-list-open {
        left: 9rem;
        max-width: calc(100% - 14rem);
    }

    .hierarchy-buttons-container {
        flex-direction: row;
        height: 5rem;
        width: unset;
    }

    .hierarchy-buttons-container .button{
        height: 100%;
        width: 4rem;
    }
}

@media(max-width: 600px){
    .hierarchy-panel-shapes-list-open {
        left: 7rem;
        max-width: calc(100% - 12rem);
    }

    .hierarchy-panel {
        top: calc(100% - 8rem);
    }

    .hierarchy-buttons-container {
        height: 3rem;
    }

    .hierarchy-buttons-container .button{
        width: 2rem;
    }
}
